.footer__text {
    color: var(--text);
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 auto;
    max-width: 100%;
    width: 64rem;
    text-align: center;
}
