.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.row__col {
    box-sizing: border-box;
    flex: none;
    margin: 0 0 30px;
    padding: 0 15px;
}

.row__col_8 {
    flex-basis: 33.3333333333%;
}
